# http://www.scala-sbt.org/1.x/docs/Travis-CI-with-sbt.html
language: scala
jdk: oraclejdk8

script:
  - sbt ++$TRAVIS_SCALA_VERSION compile

notifications:
  email: false
  webhooks:
    urls:
      - https://webhooks.gitter.im/e/67562f0726ed2388330c
    on_success: change  # options: [always|never|change] default: always
    on_failure: always  # options: [always|never|change] default: always
    on_start: never

cache:
  directories:
    - $HOME/.ivy2/cache
    - $HOME/.sbt/boot/

before_cache:
  - find $HOME/.ivy2 -name "ivydata-*.properties" -delete
  - find $HOME/.sbt -name "*.lock" -delete
